.formContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
  padding: 16px;

  .row {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .field {
    flex: 1;
    margin: 0;

    // Fix for helper text pushing fields out of alignment in flex layout
    position: relative;
    
    :global(.MuiFormHelperText-root) {
      position: absolute;
      bottom: -20px;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
    padding-top: 20px;
    border-top: 1px solid #f0f2f5;
  }
}
